/bin/cpp/*
!/bin/cpp/.gitkeep

/bin/csharp/*
!/bin/csharp/.gitkeep

csharp/obj/*
csharp/bin/*


csharp/Program.cs
python/main.py
cpp/main.cpp

testcases.yaml

/.vscode

__pycache__

session/session_dump.pkl
